{% extends 'users/base.html' %}

{% block title %} details of {{object.title}} {% endblock title %}

{% block content %}

<div class="article-detail">
  <a href="{% url 'article:new_article' %}">+New article</a>

  <div class="article-head">
    <p>{{object.title}} by {{object.user}}</p>
  </div>

  <div class="article-body">
    <p>{{object.body}}</p>
  </div>

  <div class="article-foot">
    <a href="{% url 'article:update' object.pk %}">Edit</a> | <a href="{% url 'article:delete' object.pk %}">Delete</a>
  </div>

</div>

{% endblock content %}
