
{% load static %}



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'users/css/base.css' %}">
  </head>
  <body>

    <header>

      <div class="site-urls">
        <a href="{% url 'users:home' %}">Home</a>
        <a href="{% url 'pages:home' %}">Pages Home</a>
        <a href="{% url 'article:home' %}">Articles Home</a>
      </div>

      <div class="login-urls">
        {% if user.is_authenticated %}
          <p>Hi {{user.username}}!</p> <a href="{% url 'logout' %}">Log out</a>
        {% else %}
          <p>your'nt login</p>
          <a href="{% url 'login' %}">Login here</a>
        {% endif %}
      </div>

    </header>

    {% block content %}

    {% endblock content %}

  </body>
</html>
